<h1>Listing golfers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthday</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @golfers.each do |golfer| %>
      <tr>
        <td><%= golfer.name %></td>
        <td><%= golfer.birthday %></td>
        <td><%= link_to 'Show', golfer %></td>
        <td><%= link_to 'Edit', edit_golfer_path(golfer) %></td>
        <td><%= link_to 'Destroy', golfer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Golfer', new_golfer_path %>
