<%= form_for(@hole) do |f| %>
  <% if @hole.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hole.errors.count, "error") %> prohibited this hole from being saved:</h2>

      <ul>
      <% @hole.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>
  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
