<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @hole.number %>
</p>

<p>
  <strong>Course:</strong>
  <%= @hole.course_id %>
</p>

<%= link_to 'Edit', edit_hole_path(@hole) %> |
<%= link_to 'Back', holes_path %>
