%p{id:'notice'}
  = notice

%p
  %strong Name:
  = @course.name

%ol
  - @course.holes.each do |hole|
    %li= hole.number


= link_to 'Edit', edit_course_path(@course)
= link_to 'Back', courses_path
